venv
myvenv
.venv/
pyc
__pycache__
.idea
.vscode
.env
db.sqlite3
Thumbs.db*
ehthumbs*.db
[Dd]esktop.ini
$RECYCLE.BIN/
.history/
*.code-workspace
*Zone.Identifier

staticfiles/
migrations/
.idea/
.idea/*
